* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fradiomitre.cienradios.com%2Fclima-pronostico-del-tiempo-para-este-jueves-2%2F&psig=AOvVaw3ZhmlkI03mLDPVdGf5Vst1&ust=1585261144271000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMDZxuv7tugCFQAAAAAdAAAAABAD");
}


