
body {
    background: #433f4d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0d2c22, #0c051a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bf2e2e, #0c0e13); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
